body {
  background-image: url("../assets/game-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.character_photos {
  margin: auto;
  display: inline-block;
}

.choose_your_hero {
  margin-block: 90px;
  display: flex;
  justify-content: center;
}
.choose_your_hero h1 {
  text-align: center;
  font-size: 60px;
  color: aliceblue;
  font-weight: 700;
  font-family: 'Bungee Spice', cursive;
}
.characters {
  text-align: center;
}
#hero1 {
  opacity: 0.5;
}
#hero1:hover {
  width: 13%;
  opacity: 1;
}
